@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #202020;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
